@font-face {
  font-family: "Kaufmann";
  src: url("FONTS/Kaufmann-Bold.otf");
  font-family: "Coolvetica";
  src: url("FONTS/Coolvetica.ttf");
}

html {
  background-color: #fcbc4e; 
}

h1 {
  color: #FFF7E9; 
  text-align: left;
  padding: 8px;
  font-family: "Kaufmann", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem; 
}

h2 {
  text-align: center;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1rem;
  color: #fcbc4e;
}

a {
  color: black;
  text-align: left;
  padding: 8px;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  text-decoration: none;
}



/* BACKGROUND IMAGES */

.postcard img {
  position: absolute;
  display: block;
  width: 1100px;
  height: auto;
  top: 3.5%;
  /*top: 50%;*/
  left: 50%;
  margin-left: -550px;
  /*margin-top: -356px;*/
  z-index: -3;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.tape1 img {
  position: absolute;
  display: block;
  width: 200px;
  height: auto;
  top: 4%;
  left: 15%;
  margin-left: -100px;
  margin-top: 0px;
  transform: rotate(-34deg);
  z-index: 3;
}

.tape2 img {
  position: absolute;
  display: block;
  width: 200px;
  height: auto;
  top: 4%;
  left: 86%;
  margin-left: -100px;
  margin-top: 0px;
  transform: rotate(217deg);
  z-index: 3;
}



.greetings {
  background-color: transparent;
  padding: 16px;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 400px; 
  margin-left: -180px;
}



/* DROPDOWN BUTTON */

.dropBtn {
  background-color: #FEDEA7;
  color: black;
  padding: 16px 16px 16px 32px;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1rem;
  border: 3px solid black;
  border-radius: 0.4em;
  top: 25%;
  left: 50%;  
  width: 880px; 
  margin-top: 160px;
  margin-left: -440px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}



/* CONTAINER <DIV> */

.dropdown {
  position: relative;
  display: inline-block;
  left: 50%;
}



/* DROPDOWN CONTENT (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 3px solid black;
  border-radius: 0.4em;
  left: 0%;
  width: 874px;
  margin-top: -24px;
  margin-left: -440px;
  padding-top: 24px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}



/* LINKS INSIDE DROPDOWN */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* CHANGE COLOR OF DROPDOWN LINKS ON HOVER */

.dropdown-content a:hover {background-color: #FEDEA7;} /* #ddd */



/* SHOW DROPDOWN MENU ON HOVER */

.dropdown:hover .dropdown-content {display: block;}



/* CHANGE BKG COLOR OF DROPDOWN BUTTON WHEN CONTENT IS SHOWN */

.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* BOTTOM BUTTONS */

.bottomNav {
  overflow: hidden;
  background-color: transparent;
  top: 90%;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.bottomNav a {
  background-color: #FEDEA7;
  margin: 16px;
  padding: 4px 16px 4px 16px;
  border: 2.6px solid black;
  border-radius: 0.4em;
  float: left;
  color: black;
  text-align: center;
  font-size: 24px;
}



/*INSTRUCTION OVERLAY*/

.overlay {                   
  background-color: transparent; /*rgba(0,0,0,0.75)*/
  position: fixed;
  z-index: 3;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.textOverlay a {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: #000000; /*#FFFDF5*/
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.1rem;
}



/*FINISH OVERLAYS*/

#abbeyRd-overlay {

  position: fixed;
  display: none;
  width: 100%
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;

}

#abbeyRd-text {

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}


