@font-face {
  font-family: "Kaufmann";
  src: url("fonts/Kaufmann-Bold.otf");

  font-family: "Coolvetica";
  src: url("fonts/Coolvetica.ttf");

  font-family: "BoroughRg";
  src: url("fonts/boroughGroteskProRg.otf");
}

html {
  background-color: #fcbc4e; 
}

h1 {
  color: #FFF7E9; 
  text-align: left;
  padding: 8px;
  font-family: "Kaufmann", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem; 
}

h2 {
  text-align: center;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1rem;
  color: #fcbc4e;
}

h3 {
  text-align: center;
  font-family: "BoroughRg", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 160px;
  color: #FFF7E9;
  text-shadow: 
    0px 0px 0 #000000, 
    1px 1px 0 #000000, 
    2px 2px 0 #000000, 
    3px 3px 0 #000000, 
    4px 4px 0 #000000, 
    5px 5px 0 #000000, 
    6px 6px 0 #000000, 
    7px 7px 0 #000000, 
    8px 8px 0 #000000, 
    9px 9px 0 #000000, 
    10px 10px 0 #000000, 
    11px 11px 0 #000000, 
    12px 12px 0 #000000, 
    13px 13px 0 #000000, 
    14px 14px 0 #000000, 
    15px 15px 0 #000000, 
    16px 16px 0 #000000, 
    17px 17px 0 #000000, 
    18px 18px 0 #000000, 
    19px 19px 0 #000000, 
    20px 20px 0 #000000; 
  -webkit-text-stroke: 3px black;
}

a {
  color: black;
  text-align: left;
  padding: 8px;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  text-decoration: none;
}

span {
  color: black;
  text-align: left;
  padding: 8px;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  text-decoration: none;
}



/* BACKGROUND IMAGES */

.postcard img {
  position: absolute;
  display: block;
  width: 1100px;
  height: auto;
  /*top: 3.5%;*/
  top: 50%;
  left: 50%;
  margin-left: -550px;
  margin-top: -356px;
  z-index: -3;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.tape1 img {
  position: absolute;
  display: block;
  width: 200px;
  height: auto;
  top: 4%;
  left: 15%;
  margin-left: -100px;
  margin-top: 0px;
  transform: rotate(-34deg);
  z-index: 3;
}

.tape2 img {
  position: absolute;
  display: block;
  width: 200px;
  height: auto;
  top: 4%;
  left: 86%;
  margin-left: -100px;
  margin-top: 0px;
  transform: rotate(217deg);
  z-index: 3;
}

.tape3 img {
  position: absolute;
  display: block;
  width: 300px;
  height: 90px;
  top: 1%;
  left: 50%;
  margin-left: -150px;
  margin-top: 0px;
  transform: rotate(2deg);
  z-index: 3;
}

.tape4 img {
  position: absolute;
  display: block;
  width: 250px;
  height: 90px;
  top: 1%;
  left: 50%;
  margin-left: -125px;
  margin-top: 0px;
  transform: rotate(-2deg);
  z-index: 3;
}



/* LANDING PAGE TITLE */

.greetings {
  background-color: transparent;
  padding: 4px;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 400px; 
  margin-left: -200px;
}



/* DROPDOWN BUTTON */

.dropBtn {
  background-color: #FEDEA7;
  color: black;
  padding: 16px 16px 16px 32px;
  font-family: "Coolvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1rem;
  border: 3px solid black;
  border-radius: 0.4em;
  top: 25%;
  left: 50%;  
  width: 880px; 
  margin-top: 160px;
  margin-left: -440px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}



/* CONTAINER <DIV> */

.dropdown {
  position: relative;
  display: inline-block;
  left: 50%;
}



/* DROPDOWN CONTENT (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 3px solid black;
  border-radius: 0.4em;
  left: 0%;
  width: 874px;
  margin-top: -24px;
  margin-left: -440px;
  padding-top: 24px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}



/* LINKS INSIDE DROPDOWN MENU */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* CHANGE COLOR OF DROPDOWN LINKS ON HOVER */

.dropdown-content a:hover {background-color: #FEDEA7;}



/* SHOW DROPDOWN MENU ON HOVER */

.dropdown:hover .dropdown-content {display: block;}



/* CHANGE BKG COLOR OF DROPDOWN BUTTON WHEN CONTENT IS SHOWN */

.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* BOTTOM BUTTONS */

.bottomNav {
  overflow: hidden;
  display: block;
  background-color: transparent;
  top: 78%;
  position: fixed;
  z-index: 4;
  width: 10%;
}

.bottomNav a, span {
  background-color: #FEDEA7;
  margin: 10px;
  padding: 4px 12px 4px 12px;
  border: 2.6px solid black;
  border-radius: 0.4em;
  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.05rem;
  display: block;
}



/* INSTRUCTION OVERLAY ("Click to place an image.") */

.overlay {                   
  background-color: transparent; /*rgba(0,0,0,0.75)*/
  position: fixed;
  z-index: 3;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.textOverlay a {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: #000000; /*#FFFDF5*/
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.1rem;
}



/* FINISH OVERLAY */

.overlay2 {
  width: 1070px;
  height: 682px;
  display: none;
  position: fixed; 
  left: 50%;
  top: 50%;
  margin-left: -533px;
  margin-top: -337px;
  z-index: 4; 

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  overflow-x: hidden;  
}

.greetings2 {
  background-color: transparent;
  position: absolute;
  top: 16%;
  left: 50%;
  width: 100%; 
  margin-left: -50%;
  margin-top: -30px;
  z-index: -1;
}

.greetings2 h1 {
  color: #fcbc4e;
  text-shadow: 3px 3px rgba(0,0,0,50);
   -webkit-text-stroke: 2px black;
  font-size: 3.4rem;
}

.location {
  color: #FFF7E9;
  padding: 16px 16px 16px 32px;
  font-family: "BoroughRg", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 144px;
  text-shadow: 
    0px 0px 0 #000000, 
    1px 1px 0 #000000, 
    2px 2px 0 #000000, 
    3px 3px 0 #000000, 
    4px 4px 0 #000000, 
    5px 5px 0 #000000, 
    6px 6px 0 #000000, 
    7px 7px 0 #000000, 
    8px 8px 0 #000000, 
    9px 9px 0 #000000, 
    10px 10px 0 #000000, 
    11px 11px 0 #000000, 
    12px 12px 0 #000000, 
    13px 13px 0 #000000, 
    14px 14px 0 #000000, 
    15px 15px 0 #000000, 
    16px 16px 0 #000000, 
    17px 17px 0 #000000, 
    18px 18px 0 #000000, 
    19px 19px 0 #000000, 
    20px 20px 0 #000000; 
  -webkit-text-stroke: 3px black;
  letter-spacing: 0.1rem;
  line-height: 9rem;
  border: 3px solid black;
  border-radius: 0.2em;
  top: 0%;
  left: 50%;  
  width: 75%;
  height: auto;
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  padding-right: 32px;
  padding-bottom: 32px;
}

.style1 {
  transform: rotate(0deg);
  background-color: #FEDEA7;
}

.style2 {
  transform: rotate(-4deg);
  background-color: #90B8FD;
}

.style3 {
  transform: rotate(2deg);
  background-color: #EA6254;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
  height: 100px;
}





