@font-face {
	font-family: "Ed";
	src: url("FONTS/Ed-Interlock.otf");
	font-family: "Circular";
	src: url("FONTS/CircularStd-Book.otf");
}

a {
	text-decoration: none;
	color: #FFFDF5;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("IMAGES/BACKGROUND/sky-with-lot-noise-blurred.jpg");
	background-size: cover;
	background-repeat: none;
	background-position: fixed;
	background-filter: blur(10px);
	-webkit-background-filter: blur(10px);
}

h1 {
	color: #FFFDF5;
	text-align: center;
	padding: 8px;
	font-family: "Ed", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 10rem;
	-webkit-text-stroke: 2.5px black;
	text-shadow: 2px 2px 4px black; 
}

h2 {
	color: #FFFDF5;
	text-align: center;
	padding: 8px;
	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.1rem;
	letter-spacing: 0.25em;
	text-shadow: 2px 2px 4px black; 
}

h3 {
	color: #FFFDF5;
	text-align: left;
	padding: 2px;
	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
}

h4 {
	color: #FFFDF5;
	text-align: left;
	padding: 2px;
	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.8rem;
	line-height: 1rem;
}

p {
	color: #FFFDF5;
	text-align: left;
	padding: 2px;
	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.8rem;
	line-height: 0.1em;
}





/* SPLASH PAGE */

.overlay {										/* transparent black overlay */
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	z-index: 3;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.textOverlay {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	 transform: translate(-50%,-50%);
  	-ms-transform: translate(-50%,-50%);
  	color: #FFFDF5;
}





/* MENU BAR */

.pageLinks {
	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 1px;
}

.topNav {
	overflow: hidden;
	background-color: #000000;
	position: fixed;
	z-index: 2;
	width: 100%;
}

.topNav a {
	float: left;
	color: #FFFDF5;
	text-align: center;
	padding: 24px;
	text-decoration: none;
	font-size: 0.8rem;
}

#homeButton {
	font-family: "Ed", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2rem;
}





/* INDEX — PHOTO GRID */


.photos {										/* column layout */
	line-height: 8rem;
	-webkit-column-count: 4;
	-webkit-column-gap: 4rem;
	-moz-column-count: 4;
	-moz-column-gap: 4rem;
	column-count: 4;
	column-gap: 4rem;
	padding-top: 160px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 160px;
	align-content: center;
	z-index: 2;
}



/* INDEX — PHOTO GRID — IMAGE SIZES */

.hundred {										/* 100% width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 56px;
	width: 100% !important;
	height: auto !important;
	border: 1px solid black;
	position: relative;
	z-index: 1;
}

.ninety {										/* 90% width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 56px;
	width: 90% !important;
	height: auto !important;
	border: 1px solid black;
	position: relative;
	z-index: 1;
}

.eighty {										/* 80% width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 56px;
	width: 80% !important;
	height: auto !important;
	border: 1px solid black;
	position: relative;
	z-index: 1;
}

.seventy {										/* 70% width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 56px;
	width: 70% !important;
	height: auto !important;
	border: 1px solid black;
	position: relative;
	z-index: 1;
}

.sixty {										/* 60% width */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 56px;
	width: 60% !important;
	height: auto !important;
	border: 1px solid black;
	position: relative;
	z-index: 1;
}





/* INDEX — PHOTO GRID — IMAGE ROTATIONS */

.rotateImg-7 {								
	-webkit-transform:rotate(-7deg);
  	-moz-transform: rotate(-7deg);
  	-ms-transform: rotate(-7deg);
  	-o-transform: rotate(7deg);
  	transform: rotate(-7deg);
}

.rotateImg-6 {
	-webkit-transform:rotate(-6deg);
  	-moz-transform: rotate(-6deg);
  	-ms-transform: rotate(-6deg);
  	-o-transform: rotate(-6deg);
  	transform: rotate(-6deg);
}

.rotateImg-4 {
	-webkit-transform:rotate(-4deg);
  	-moz-transform: rotate(-4deg);
  	-ms-transform: rotate(-4deg);
  	-o-transform: rotate(-4deg);
  	transform: rotate(-4deg);
}

.rotateImg-2 {
	-webkit-transform:rotate(-2deg);
  	-moz-transform: rotate(-2deg);
  	-ms-transform: rotate(-2deg);
  	-o-transform: rotate(-2deg);
  	transform: rotate(-2deg);
}

.rotateImg1 {
	-webkit-transform:rotate(1deg);
  	-moz-transform: rotate(1deg);
  	-ms-transform: rotate(1deg);
  	-o-transform: rotate(1deg);
  	transform: rotate(1deg);
}

.rotateImg2 {
	-webkit-transform:rotate(2deg);
  	-moz-transform: rotate(2deg);
  	-ms-transform: rotate(2deg);
  	-o-transform: rotate(2deg);
  	transform: rotate(2deg);
}

.rotateImg3 {
	-webkit-transform:rotate(3deg);
  	-moz-transform: rotate(3deg);
  	-ms-transform: rotate(3deg);
  	-o-transform: rotate(3deg);
  	transform: rotate(3deg);
}

.rotateImg4 {
	-webkit-transform:rotate(4deg);
  	-moz-transform: rotate(4deg);
  	-ms-transform: rotate(4deg);
  	-o-transform: rotate(4deg);
  	transform: rotate(4deg);
}

.rotateImg7 {
	-webkit-transform:rotate(7deg);
  	-moz-transform: rotate(7deg);
  	-ms-transform: rotate(7deg);
  	-o-transform: rotate(7deg);
  	transform: rotate(7deg);
}

.rotateImg8 {
	-webkit-transform:rotate(8deg);
  	-moz-transform: rotate(8deg);
  	-ms-transform: rotate(8deg);
  	-o-transform: rotate(8deg);
  	transform: rotate(8deg);
}





/* INDEX — TITLE POPUP */

.middle {
  	transition: .5s ease;
  	opacity: 0;
  	top: 0;
  	left: 50%;
  	transform: translate(0%, -100%);
  	-ms-transform: translate(0%, -100%);
  	text-align: center;
  	z-index: 4;
}

.container:hover .image {
  	opacity: 0.3;
  	z-index: 3;
}

.container:hover .middle {
  	opacity: 1;
  	z-index: 4;
}

.container:hover .text {
	display: block;
	/*position: absolute;*/
	z-index: 4;
}

.text {
  	background-color: #000000;
  	color: #FFFDF5;
  	font-size: 16px;
  	padding: 16px;
  	font-family: "Circular", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
	z-index: 4;
}





/* DETAIL PAGES */

.caption {										/* Description box */
	background-color: black;
	width: 24%;
	height: auto;
	padding-top: 8px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 20px;
	margin-right: 16px;
	margin-bottom: 24px;
	display: inline-block;
	vertical-align: top;
}

.detailOverlay {
	width: 100%;
	height: auto;
	justify-content: center;
	margin-top: 152px;
	padding-left: 32px;
	padding-right: 32px;
}

.detailOverlay img {
	width: 64%;
	height: auto;
  	border: 2px solid black;
  	display: inline-block;
  	margin-left: 16px;
  	margin-right: 24px;
  	margin-bottom: 32px;
}

.extLink {										/* External link */				
	width: 20px;
	height: auto;
	border: none;
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 14px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}





/* DETAIL PAGES — NAVIGATION BUTTONS */

.imageNav {
	overflow: hidden;
	background-color: transparent;
	top: 120px;
	width: 100%;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding-left: 16px;
}

.imageNav img {
	float: left;
	width: auto;
	height: 32px;
	padding-left: 16px;
	padding-right: 32px;
	padding-top: 0px;
	padding-bottom: 16px;
	display: inline;
	border: none;
}





/* PILE GRIDS */

.parent {										/* GRID: 5 columns, 1 row; */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 54px;
	grid-row-gap: 0px;
	padding-top: 120px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 54px;
	align-content: middle;
}


.parent2 {										/* GRID: 4 columns, 2 rows; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	padding-top: 120px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 54px;
}

.parent3 {										/* GRID: 4 columns, 1 row; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 64px;
	grid-row-gap: 0px;
	padding-top: 120px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 54px;
}

.parent4 {										/* GRID: 2 columns, 1 row; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 32px;
	grid-row-gap: 0px;
	padding-top: 120px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 54px;
}


.child-1 {
	grid-area: 1 / 1 / 2 / 2;
	display: inline-grid;
}

.child-1 img {
	vertical-align: middle;
}

.child-2 {
	grid-area: 1 / 2 / 2 / 3;
	display: inline-grid;
	vertical-align: middle;
}

.child-3 {
	grid-area: 1 / 3 / 2 / 4;
	display: inline-grid;
	vertical-align: middle;
}

.child-4 {
	grid-area: 1 / 4 / 2 / 5;
	display: inline-grid;
	vertical-align: middle;
}

.child-5 {
	grid-area: 1 / 5 / 2 / end;
	display: inline-grid;
	vertical-align: center;
}

.child-6 {
	grid-area: 2 / 1 / end / 2;
	display: inline-grid;
	vertical-align: center;
}

.child-7 {
	grid-area: 2 / 2 / end / 3;
	display: inline-grid;
	vertical-align: center;
}

.child-8 {
	grid-area: 2 / 3 / end / 4;
	display: inline-grid;
	vertical-align: center;
}





/* PILE — FILTER BUTTON */

.button {
	background-color: black;
	display: inline-block;
	vertical-align: top;
}

.filterButton {
	overflow: hidden;
	background-color: transparent;
	top: 80px;
	width: 100%;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding: 32px;
}

.filterButton a {
	float: left;
	width: auto;
	height: auto;
	padding: 8px;
	display: inline;
	border: none;
}





/* PILE — SECOND ROW — FILTER BUTTONS */

.button2 {
	background-color: black;
	display: inline-block;
	vertical-align: top;
}

.button3 {
	background-color: transparent;
	color: black;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
}

.filterButtons {
	overflow: hidden;
	background-color: transparent;
	top: 0px;
	width: 100%;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding: 32px;
	vertical-align: top;
}

.filterButtons a {
	float: left;
	width: auto;
	height: auto;
	padding: 8px;
	margin-right: 8px;
	align-content: top;
	display: inline;
	border: none;
	position: relative;
}






.marginBottom_16 {
	margin-bottom: 16px;
}

.marginTop_24 {
	margin-top: 24px;
}